<div *ngIf="loading" class="loading">Caricamento...</div>

<div *ngIf="!loading && colorData">
  <h1>Colore: {{ colorData.title }}</h1>
  <div class="color-box" [style.backgroundColor]="'#' + colorData.hex"
    style="width: 200px; height: 200px; margin: 20px 0;"
  ></div>
  <p><strong>Codice HEX:</strong> #{{ colorData.hex }}</p>
  <p><strong>Famiglia di Colori:</strong> {{ colorData.family }}</p>
  <p><strong>Autore:</strong> {{ colorData.userName }}</p>
  <p><strong>Numero di preferenze:</strong> {{ colorData.numViews }}</p>
</div>
